body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Sfondo grigio chiaro */
    color: #333333; /* Testo blu scuro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align at the top for scrolling */
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header .logo {
    margin-bottom: 10px;
    height: 50px; /* Dimensione del logo, regolabile */
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-vertical {
    width: 100%;
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}

.content-wrapper {
    width: 100%;
    margin: 0;
}

.site-description {
    margin-bottom: 20px;
}

.banner-horizontal {
    width: 100%;
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.title-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333333;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: #ffffff;
    color: #333333;
    margin-bottom: 20px;
}

.text-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.text-controls button {
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.side-stats {
    text-align: left;
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 20px;
}

.side-stats p {
    margin: 5px 0;
}

.side-stats p strong {
    font-weight: bold;
}

.bottom-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 0.9em;
}

.bottom-stats .stats-column {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}

.bottom-stats h2 {
    margin: 10px 0 5px;
}

.letter-row {
    display: flex;
    justify-content: space-between;
}

.letter-row span {
    flex: 1;
    text-align: left;
}

/* Accordo */
.accordion {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    transition: 0.4s;
    margin-top: 10px;
    border-radius: 5px;
}

.accordion:hover,
.accordion:active {
    background-color: #0056b3;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .title-controls {
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .text-controls {
        flex-direction: row;
        align-items: center;
    }
    
    .text-controls button {
    font-size: 15px;
    padding: 3px 6px;

}

    .bottom-stats {
        flex-direction: column;
        align-items: center;
    }

    .bottom-stats .stats-column {
        width: 100%;
        padding: 10px 0;
    }
}
